* {
  margin:0;
  padding:0;
}

html {
  min-height:100%;
}

body {
  padding-top: 40px;
  background: radial-gradient(circle at center, #000000, #07030f);
  font-family: sans;
}

canvas {
  display:block;
  margin:auto;
  box-shadow:0 0 30px rgba(255,255,255,0.05);
  border-radius:3px;
  max-width:100%;
  max-height:100%;
  transition:all 0.3s;
}

.error-container {
  color:#ff33aa;
  max-width:1000px;
  margin:auto;
}

.transparent-box {
  background: #fff;
  border-radius: 3px;
  width: 300px;
  max-width: 30%;
  height: calc(100% - 160px);
  padding: 20px;
  opacity: 0.1;
  transition: all 0.3s;
  overflow-y: auto;
}

effector-settings-panel {
  position: absolute;
  top: 40px;
  right: 40px;
}

.transparent-box:hover {
  opacity: 1;
}

input {
  width: 100%;
}

effector-settings-panel label {
  font-weight: 300;
}

.left-panel {
  position: absolute;
  top: 40px;
  left: 40px;
}

label{
  font-weight:300;
}
