*{
  margin:0;
  padding:0;
}

html{
  min-height:100%;
}

body{
  padding-top: 40px;
  background: radial-gradient(circle at center, #000000, #07030f);
  font-family: sans;
}

canvas{
  display:block;
  margin:auto;
  box-shadow:0 0 30px rgba(255,255,255,0.05);
  border-radius:3px;
  max-width:100%;
  max-height:100%;
}

.error-container{
  color:#ff33aa;
  max-width:1000px;
  margin:auto;
}
